## Ejercicio 1. Creación de una bases de datos de películas extraídas de un API

In [112]:
import requests
import numpy as np
import pandas as pd
import mysql.connector
from mysql.connector import Error

### Fase 1: Extracción de datos de películas

In [2]:
url = "https://beta.adalab.es/resources/apis/pelis/pelis.json"

In [3]:
def llamar_api(endpoint):
    datos = requests.get(endpoint)
    print(f"llamar al api con respuesta : {datos.status_code}")

    if datos.status_code != 200:
        print(f"llamada falló por el siguiente motivo {datos.reason}")

    else:
        return datos.json()

In [4]:
datos_p = llamar_api(url)

llamar al api con respuesta : 200

In [5]:
datos_p

[{'id': 1,
  'titulo': 'The Godfather',
  'año': 1972,
  'duracion': 175,
  'genero': 'Crimen',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 2,
  'titulo': 'The Godfather Part II',
  'año': 1974,
  'duracion': 202,
  'genero': 'Crimen',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 3,
  'titulo': 'Pulp Fiction',
  'año': 1994,
  'duracion': 154,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 4,
  'titulo': 'Forrest Gump',
  'año': 1994,
  'duracion': 142,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 5,
  'titulo': 'The Dark Knight',
  'año': 2008,
  'duracion': 152,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 6,
  'titulo': 'Fight Club',
  'año': 1999,
  'duracion': 139,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 7,
  'titulo': 'Inception',
  'año': 2010,
  'duracion': 148,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en', 'de']},
 {'id': 8,
  'titulo': 'The Matrix',
  'año': 1999,
  'duracion': 136,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 9,
  'titulo': 'The Shawshank Redemption',
  'año': 1994,
  'duracion': 142,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 10,
  'titulo': 'Interstellar',
  'año': 2014,
  'duracion': 169,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 11,
  'titulo': 'Gladiator',
  'año': 2000,
  'duracion': 155,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 12,
  'titulo': 'Titanic',
  'año': 1997,
  'duracion': 195,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 13,
  'titulo': 'Avatar',
  'año': 2009,
  'duracion': 162,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 14,
  'titulo': 'Saving Private Ryan',
  'año': 1998,
  'duracion': 169,
  'genero': 'Bélico',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 15,
  'titulo': 'The Silence of the Lambs',
  'año': 1991,
  'duracion': 118,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 16,
  'titulo': 'Se7en',
  'año': 1995,
  'duracion': 127,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 17,
  'titulo': 'Goodfellas',
  'año': 1990,
  'duracion': 146,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 18,
  'titulo': 'The Departed',
  'año': 2006,
  'duracion': 151,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 19,
  'titulo': 'Whiplash',
  'año': 2014,
  'duracion': 106,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 20,
  'titulo': 'La La Land',
  'año': 2016,
  'duracion': 128,
  'genero': 'Musical',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 21,
  'titulo': 'The Lord of the Rings: The Fellowship of the Ring',
  'año': 2001,
  'duracion': 178,
  'genero': 'Fantasía',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 22,
  'titulo': 'The Lord of the Rings: The Two Towers',
  'año': 2002,
  'duracion': 179,
  'genero': 'Fantasía',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 23,
  'titulo': 'The Lord of the Rings: The Return of the King',
  'año': 2003,
  'duracion': 201,
  'genero': 'Fantasía',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 24,
  'titulo': 'Star Wars: A New Hope',
  'año': 1977,
  'duracion': 121,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 25,
  'titulo': 'Star Wars: The Empire Strikes Back',
  'año': 1980,
  'duracion': 124,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 26,
  'titulo': 'Star Wars: Return of the Jedi',
  'año': 1983,
  'duracion': 131,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 27,
  'titulo': 'Back to the Future',
  'año': 1985,
  'duracion': 116,
  'genero': 'Aventura',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 28,
  'titulo': 'Jurassic Park',
  'año': 1993,
  'duracion': 127,
  'genero': 'Aventura',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 29,
  'titulo': 'The Lion King',
  'año': 1994,
  'duracion': 88,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 30,
  'titulo': 'Toy Story',
  'año': 1995,
  'duracion': 81,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 31,
  'titulo': 'Finding Nemo',
  'año': 2003,
  'duracion': 100,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 32,
  'titulo': 'Shrek',
  'año': 2001,
  'duracion': 90,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 33,
  'titulo': 'The Incredibles',
  'año': 2004,
  'duracion': 115,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 34,
  'titulo': 'WALL·E',
  'año': 2008,
  'duracion': 98,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 35,
  'titulo': 'Up',
  'año': 2009,
  'duracion': 96,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 36,
  'titulo': 'Spirited Away',
  'año': 2001,
  'duracion': 125,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en', 'jp']},
 {'id': 37,
  'titulo': 'Princess Mononoke',
  'año': 1997,
  'duracion': 134,
  'genero': 'Animación',
  'adultos': True,
  'subtitulos': ['es', 'en', 'jp']},
 {'id': 38,
  'titulo': 'The Green Mile',
  'año': 1999,
  'duracion': 189,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 39,
  'titulo': 'The Truman Show',
  'año': 1998,
  'duracion': 103,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 40,
  'titulo': 'The Social Network',
  'año': 2010,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 41,
  'titulo': 'Joker',
  'año': 2019,
  'duracion': 122,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 42,
  'titulo': 'Black Panther',
  'año': 2018,
  'duracion': 134,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 43,
  'titulo': 'Iron Man',
  'año': 2008,
  'duracion': 126,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 44,
  'titulo': 'The Avengers',
  'año': 2012,
  'duracion': 143,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 45,
  'titulo': 'Avengers: Endgame',
  'año': 2019,
  'duracion': 181,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 46,
  'titulo': 'Dune',
  'año': 2021,
  'duracion': 155,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 47,
  'titulo': 'Mad Max: Fury Road',
  'año': 2015,
  'duracion': 120,
  'genero': 'Acción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 48,
  'titulo': 'The Revenant',
  'año': 2015,
  'duracion': 156,
  'genero': 'Aventura',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 49,
  'titulo': 'Parasite',
  'año': 2019,
  'duracion': 132,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en', 'ko']},
 {'id': 50,
  'titulo': 'Oldboy',
  'año': 2003,
  'duracion': 120,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en', 'ko']},
 {'id': 51,
  'titulo': 'The Pianist',
  'año': 2002,
  'duracion': 150,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 52,
  'titulo': 'The Wolf of Wall Street',
  'año': 2013,
  'duracion': 180,
  'genero': 'Biografía',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 53,
  'titulo': 'Her',
  'año': 2013,
  'duracion': 126,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 54,
  'titulo': 'Gravity',
  'año': 2013,
  'duracion': 91,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 55,
  'titulo': 'The Shape of Water',
  'año': 2017,
  'duracion': 123,
  'genero': 'Fantasía',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 56,
  'titulo': 'Get Out',
  'año': 2017,
  'duracion': 104,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 57,
  'titulo': 'It',
  'año': 2017,
  'duracion': 135,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 58,
  'titulo': 'The Conjuring',
  'año': 2013,
  'duracion': 112,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 59,
  'titulo': 'A Quiet Place',
  'año': 2018,
  'duracion': 90,
  'genero': 'Terror',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 60,
  'titulo': 'The Exorcist',
  'año': 1973,
  'duracion': 122,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 61,
  'titulo': 'The Shining',
  'año': 1980,
  'duracion': 144,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 62,
  'titulo': 'Blade Runner',
  'año': 1982,
  'duracion': 117,
  'genero': 'Ciencia ficción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 63,
  'titulo': 'Blade Runner 2049',
  'año': 2017,
  'duracion': 164,
  'genero': 'Ciencia ficción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 64,
  'titulo': 'Alien',
  'año': 1979,
  'duracion': 117,
  'genero': 'Ciencia ficción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 65,
  'titulo': 'Aliens',
  'año': 1986,
  'duracion': 137,
  'genero': 'Ciencia ficción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 66,
  'titulo': 'The Terminator',
  'año': 1984,
  'duracion': 107,
  'genero': 'Acción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 67,
  'titulo': 'Terminator 2: Judgment Day',
  'año': 1991,
  'duracion': 137,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 68,
  'titulo': 'Rocky',
  'año': 1976,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 69,
  'titulo': 'Raging Bull',
  'año': 1980,
  'duracion': 129,
  'genero': 'Biografía',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 70,
  'titulo': 'Taxi Driver',
  'año': 1976,
  'duracion': 113,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 71,
  'titulo': 'Casablanca',
  'año': 1942,
  'duracion': 102,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 72,
  'titulo': 'Citizen Kane',
  'año': 1941,
  'duracion': 119,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 73,
  'titulo': 'Psycho',
  'año': 1960,
  'duracion': 109,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 74,
  'titulo': 'Vertigo',
  'año': 1958,
  'duracion': 128,
  'genero': 'Suspense',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 75,
  'titulo': 'Rear Window',
  'año': 1954,
  'duracion': 112,
  'genero': 'Suspense',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 76,
  'titulo': '12 Angry Men',
  'año': 1957,
  'duracion': 96,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 77,
  'titulo': "Schindler's List",
  'año': 1993,
  'duracion': 195,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 78,
  'titulo': 'American Beauty',
  'año': 1999,
  'duracion': 122,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 79,
  'titulo': 'No Country for Old Men',
  'año': 2007,
  'duracion': 122,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 80,
  'titulo': 'The Big Lebowski',
  'año': 1998,
  'duracion': 117,
  'genero': 'Comedia',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 81,
  'titulo': 'Amélie',
  'año': 2001,
  'duracion': 122,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 82,
  'titulo': 'The Intouchables',
  'año': 2011,
  'duracion': 112,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 83,
  'titulo': 'City of God',
  'año': 2002,
  'duracion': 130,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en', 'pt']},
 {'id': 84,
  'titulo': "Pan's Labyrinth",
  'año': 2006,
  'duracion': 118,
  'genero': 'Fantasía',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 85,
  'titulo': 'Roma',
  'año': 2018,
  'duracion': 135,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 86,
  'titulo': 'Slumdog Millionaire',
  'año': 2008,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 87,
  'titulo': 'Million Dollar Baby',
  'año': 2004,
  'duracion': 132,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 88,
  'titulo': "The King's Speech",
  'año': 2010,
  'duracion': 118,
  'genero': 'Biografía',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 89,
  'titulo': 'Argo',
  'año': 2012,
  'duracion': 120,
  'genero': 'Thriller',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 90,
  'titulo': 'Moonlight',
  'año': 2016,
  'duracion': 111,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 91,
  'titulo': 'Manchester by the Sea',
  'año': 2016,
  'duracion': 137,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 92,
  'titulo': 'Birdman',
  'año': 2014,
  'duracion': 119,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 93,
  'titulo': 'Django Unchained',
  'año': 2012,
  'duracion': 165,
  'genero': 'Western',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 94,
  'titulo': 'Inglourious Basterds',
  'año': 2009,
  'duracion': 153,
  'genero': 'Bélico',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 95,
  'titulo': 'The Hateful Eight',
  'año': 2015,
  'duracion': 168,
  'genero': 'Western',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 96,
  'titulo': 'La vita è bella',
  'año': 1997,
  'duracion': 116,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'it']},
 {'id': 97,
  'titulo': 'Requiem for a Dream',
  'año': 2000,
  'duracion': 102,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 98,
  'titulo': 'Memento',
  'año': 2000,
  'duracion': 113,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 99,
  'titulo': 'Eternal Sunshine of the Spotless Mind',
  'año': 2004,
  'duracion': 108,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 100,
  'titulo': 'Donnie Darko',
  'año': 2001,
  'duracion': 113,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']}]

In [44]:
Datos_películas = []

In [100]:
Datos_películas = []

for película in datos_p:
    adultos = ()
    if película["adultos"] == True:
       adultos = "Sí"
    if película["adultos"] == False:
       adultos = "No"

    subtitulos = ",".join(película["subtitulos"])
 

    nueva_película = {"Título": película["titulo"].capitalize().strip(),
                      "Año": película["año"],
                      "Duración": película["duracion"],
                      "Género": película["genero"].capitalize().strip(),
                      "Contenide_adultos": adultos,
                      "Subtítulos": subtitulos
    }
   
    Datos_películas.append (nueva_película)

In [101]:
Datos_películas

[{'Título': 'The godfather',
  'Año': 1972,
  'Duración': 175,
  'Género': 'Crimen',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The godfather part ii',
  'Año': 1974,
  'Duración': 202,
  'Género': 'Crimen',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Pulp fiction',
  'Año': 1994,
  'Duración': 154,
  'Género': 'Crimen',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Forrest gump',
  'Año': 1994,
  'Duración': 142,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en,fr'},
 {'Título': 'The dark knight',
  'Año': 2008,
  'Duración': 152,
  'Género': 'Acción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Fight club',
  'Año': 1999,
  'Duración': 139,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Inception',
  'Año': 2010,
  'Duración': 148,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en,de'},
 {'Título': 'The matrix',
  'Año': 1999,
  'Duración': 136,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The shawshank redemption',
  'Año': 1994,
  'Duración': 142,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Interstellar',
  'Año': 2014,
  'Duración': 169,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Gladiator',
  'Año': 2000,
  'Duración': 155,
  'Género': 'Acción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Titanic',
  'Año': 1997,
  'Duración': 195,
  'Género': 'Romance',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en,fr'},
 {'Título': 'Avatar',
  'Año': 2009,
  'Duración': 162,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Saving private ryan',
  'Año': 1998,
  'Duración': 169,
  'Género': 'Bélico',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The silence of the lambs',
  'Año': 1991,
  'Duración': 118,
  'Género': 'Thriller',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Se7en',
  'Año': 1995,
  'Duración': 127,
  'Género': 'Thriller',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Goodfellas',
  'Año': 1990,
  'Duración': 146,
  'Género': 'Crimen',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The departed',
  'Año': 2006,
  'Duración': 151,
  'Género': 'Crimen',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Whiplash',
  'Año': 2014,
  'Duración': 106,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'La la land',
  'Año': 2016,
  'Duración': 128,
  'Género': 'Musical',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The lord of the rings: the fellowship of the ring',
  'Año': 2001,
  'Duración': 178,
  'Género': 'Fantasía',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The lord of the rings: the two towers',
  'Año': 2002,
  'Duración': 179,
  'Género': 'Fantasía',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The lord of the rings: the return of the king',
  'Año': 2003,
  'Duración': 201,
  'Género': 'Fantasía',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Star wars: a new hope',
  'Año': 1977,
  'Duración': 121,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Star wars: the empire strikes back',
  'Año': 1980,
  'Duración': 124,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Star wars: return of the jedi',
  'Año': 1983,
  'Duración': 131,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Back to the future',
  'Año': 1985,
  'Duración': 116,
  'Género': 'Aventura',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Jurassic park',
  'Año': 1993,
  'Duración': 127,
  'Género': 'Aventura',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The lion king',
  'Año': 1994,
  'Duración': 88,
  'Género': 'Animación',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Toy story',
  'Año': 1995,
  'Duración': 81,
  'Género': 'Animación',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Finding nemo',
  'Año': 2003,
  'Duración': 100,
  'Género': 'Animación',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Shrek',
  'Año': 2001,
  'Duración': 90,
  'Género': 'Animación',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The incredibles',
  'Año': 2004,
  'Duración': 115,
  'Género': 'Animación',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Wall·e',
  'Año': 2008,
  'Duración': 98,
  'Género': 'Animación',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Up',
  'Año': 2009,
  'Duración': 96,
  'Género': 'Animación',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Spirited away',
  'Año': 2001,
  'Duración': 125,
  'Género': 'Animación',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en,jp'},
 {'Título': 'Princess mononoke',
  'Año': 1997,
  'Duración': 134,
  'Género': 'Animación',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en,jp'},
 {'Título': 'The green mile',
  'Año': 1999,
  'Duración': 189,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The truman show',
  'Año': 1998,
  'Duración': 103,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The social network',
  'Año': 2010,
  'Duración': 120,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Joker',
  'Año': 2019,
  'Duración': 122,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Black panther',
  'Año': 2018,
  'Duración': 134,
  'Género': 'Acción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Iron man',
  'Año': 2008,
  'Duración': 126,
  'Género': 'Acción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The avengers',
  'Año': 2012,
  'Duración': 143,
  'Género': 'Acción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Avengers: endgame',
  'Año': 2019,
  'Duración': 181,
  'Género': 'Acción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Dune',
  'Año': 2021,
  'Duración': 155,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Mad max: fury road',
  'Año': 2015,
  'Duración': 120,
  'Género': 'Acción',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The revenant',
  'Año': 2015,
  'Duración': 156,
  'Género': 'Aventura',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Parasite',
  'Año': 2019,
  'Duración': 132,
  'Género': 'Thriller',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en,ko'},
 {'Título': 'Oldboy',
  'Año': 2003,
  'Duración': 120,
  'Género': 'Thriller',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en,ko'},
 {'Título': 'The pianist',
  'Año': 2002,
  'Duración': 150,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The wolf of wall street',
  'Año': 2013,
  'Duración': 180,
  'Género': 'Biografía',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Her',
  'Año': 2013,
  'Duración': 126,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Gravity',
  'Año': 2013,
  'Duración': 91,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The shape of water',
  'Año': 2017,
  'Duración': 123,
  'Género': 'Fantasía',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Get out',
  'Año': 2017,
  'Duración': 104,
  'Género': 'Terror',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'It',
  'Año': 2017,
  'Duración': 135,
  'Género': 'Terror',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The conjuring',
  'Año': 2013,
  'Duración': 112,
  'Género': 'Terror',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'A quiet place',
  'Año': 2018,
  'Duración': 90,
  'Género': 'Terror',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'The exorcist',
  'Año': 1973,
  'Duración': 122,
  'Género': 'Terror',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The shining',
  'Año': 1980,
  'Duración': 144,
  'Género': 'Terror',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Blade runner',
  'Año': 1982,
  'Duración': 117,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Blade runner 2049',
  'Año': 2017,
  'Duración': 164,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Alien',
  'Año': 1979,
  'Duración': 117,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Aliens',
  'Año': 1986,
  'Duración': 137,
  'Género': 'Ciencia ficción',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The terminator',
  'Año': 1984,
  'Duración': 107,
  'Género': 'Acción',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Terminator 2: judgment day',
  'Año': 1991,
  'Duración': 137,
  'Género': 'Acción',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Rocky',
  'Año': 1976,
  'Duración': 120,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Raging bull',
  'Año': 1980,
  'Duración': 129,
  'Género': 'Biografía',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Taxi driver',
  'Año': 1976,
  'Duración': 113,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Casablanca',
  'Año': 1942,
  'Duración': 102,
  'Género': 'Romance',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Citizen kane',
  'Año': 1941,
  'Duración': 119,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Psycho',
  'Año': 1960,
  'Duración': 109,
  'Género': 'Terror',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Vertigo',
  'Año': 1958,
  'Duración': 128,
  'Género': 'Suspense',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Rear window',
  'Año': 1954,
  'Duración': 112,
  'Género': 'Suspense',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': '12 angry men',
  'Año': 1957,
  'Duración': 96,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': "Schindler's list",
  'Año': 1993,
  'Duración': 195,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'American beauty',
  'Año': 1999,
  'Duración': 122,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'No country for old men',
  'Año': 2007,
  'Duración': 122,
  'Género': 'Crimen',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The big lebowski',
  'Año': 1998,
  'Duración': 117,
  'Género': 'Comedia',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Amélie',
  'Año': 2001,
  'Duración': 122,
  'Género': 'Romance',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en,fr'},
 {'Título': 'The intouchables',
  'Año': 2011,
  'Duración': 112,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en,fr'},
 {'Título': 'City of god',
  'Año': 2002,
  'Duración': 130,
  'Género': 'Crimen',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en,pt'},
 {'Título': "Pan's labyrinth",
  'Año': 2006,
  'Duración': 118,
  'Género': 'Fantasía',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Roma',
  'Año': 2018,
  'Duración': 135,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Slumdog millionaire',
  'Año': 2008,
  'Duración': 120,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Million dollar baby',
  'Año': 2004,
  'Duración': 132,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': "The king's speech",
  'Año': 2010,
  'Duración': 118,
  'Género': 'Biografía',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Argo',
  'Año': 2012,
  'Duración': 120,
  'Género': 'Thriller',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Moonlight',
  'Año': 2016,
  'Duración': 111,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Manchester by the sea',
  'Año': 2016,
  'Duración': 137,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Birdman',
  'Año': 2014,
  'Duración': 119,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Django unchained',
  'Año': 2012,
  'Duración': 165,
  'Género': 'Western',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Inglourious basterds',
  'Año': 2009,
  'Duración': 153,
  'Género': 'Bélico',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'The hateful eight',
  'Año': 2015,
  'Duración': 168,
  'Género': 'Western',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'La vita è bella',
  'Año': 1997,
  'Duración': 116,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en,it'},
 {'Título': 'Requiem for a dream',
  'Año': 2000,
  'Duración': 102,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Memento',
  'Año': 2000,
  'Duración': 113,
  'Género': 'Thriller',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'},
 {'Título': 'Eternal sunshine of the spotless mind',
  'Año': 2004,
  'Duración': 108,
  'Género': 'Drama',
  'Contenide_adultos': 'No',
  'Subtítulos': 'es,en'},
 {'Título': 'Donnie darko',
  'Año': 2001,
  'Duración': 113,
  'Género': 'Drama',
  'Contenide_adultos': 'Sí',
  'Subtítulos': 'es,en'}]

In [102]:
DfDatos_películas= pd.DataFrame(Datos_películas)
DfDatos_películas

,Título,Año,Duración,Género,Contenide_adultos,Subtítulos
0,The godfather,1972,175,Crimen,No,"es,en"
1,The godfather part ii,1974,202,Crimen,No,"es,en"
2,Pulp fiction,1994,154,Crimen,Sí,"es,en"
3,Forrest gump,1994,142,Drama,No,"es,en,fr"
4,The dark knight,2008,152,Acción,No,"es,en"
...,...,...,...,...,...,...
95,La vita è bella,1997,116,Drama,No,"es,en,it"
96,Requiem for a dream,2000,102,Drama,Sí,"es,en"
97,Memento,2000,113,Thriller,Sí,"es,en"
98,Eternal sunshine of the spotless mind,2004,108,Drama,No,"es,en"
99,Donnie darko,2001,113,Drama,Sí,"es,en"

### Fase 2: Creación de la Base de Datos

In [103]:
try:
    connection = mysql.connector.connect(
        host='127.0.0.1',
        user='root',
        password='AlumnaAdalab'
    )
    print('Conexión exitosa')
except Error as e:
    print('Error al conectar:', e)

Conexión exitosa

#### Creación de la base de datos:

In [104]:
try:
    mycursor = connection.cursor()
    query = "CREATE DATABASE IF NOT EXISTS Adalab_pelis"
    mycursor.execute(query)
    print ("Query exitosa")
except:
    print("Error.")

Query exitosa

In [105]:
mycursor.execute('USE Adalab_pelis')

#### Creación de tabla:

In [119]:
query = ''' CREATE TABLE películas (
    id_pelis INT PRIMARY KEY AUTO_INCREMENT,
    Título VARCHAR(200) NOT NULL,
    Año INT,
    Duración INT,
    Género VARCHAR(30),
    Contenido_adultos VARCHAR(10),
    Subtítulos VARCHAR (50) DEFAULT 'Sin datos'
);'''


mycursor.execute(query)

#### Conversión a lista de tuplas:

In [106]:
Lista_tupla = DfDatos_películas.values.tolist()
print (Lista_tupla)

[['The godfather', 1972, 175, 'Crimen', 'No', 'es,en'], ['The godfather part ii', 1974, 202, 'Crimen', 'No', 'es,en'], ['Pulp fiction', 1994, 154, 'Crimen', 'Sí', 'es,en'], ['Forrest gump', 1994, 142, 'Drama', 'No', 'es,en,fr'], ['The dark knight', 2008, 152, 'Acción', 'No', 'es,en'], ['Fight club', 1999, 139, 'Drama', 'Sí', 'es,en'], ['Inception', 2010, 148, 'Ciencia ficción', 'No', 'es,en,de'], ['The matrix', 1999, 136, 'Ciencia ficción', 'No', 'es,en'], ['The shawshank redemption', 1994, 142, 'Drama', 'No', 'es,en'], ['Interstellar', 2014, 169, 'Ciencia ficción', 'No', 'es,en'], ['Gladiator', 2000, 155, 'Acción', 'No', 'es,en'], ['Titanic', 1997, 195, 'Romance', 'No', 'es,en,fr'], ['Avatar', 2009, 162, 'Ciencia ficción', 'No', 'es,en'], ['Saving private ryan', 1998, 169, 'Bélico', 'Sí', 'es,en'], ['The silence of the lambs', 1991, 118, 'Thriller', 'Sí', 'es,en'], ['Se7en', 1995, 127, 'Thriller', 'Sí', 'es,en'], ['Goodfellas', 1990, 146, 'Crimen', 'Sí', 'es,en'], ['The departed', 2006, 151, 'Crimen', 'Sí', 'es,en'], ['Whiplash', 2014, 106, 'Drama', 'No', 'es,en'], ['La la land', 2016, 128, 'Musical', 'No', 'es,en'], ['The lord of the rings: the fellowship of the ring', 2001, 178, 'Fantasía', 'No', 'es,en'], ['The lord of the rings: the two towers', 2002, 179, 'Fantasía', 'No', 'es,en'], ['The lord of the rings: the return of the king', 2003, 201, 'Fantasía', 'No', 'es,en'], ['Star wars: a new hope', 1977, 121, 'Ciencia ficción', 'No', 'es,en'], ['Star wars: the empire strikes back', 1980, 124, 'Ciencia ficción', 'No', 'es,en'], ['Star wars: return of the jedi', 1983, 131, 'Ciencia ficción', 'No', 'es,en'], ['Back to the future', 1985, 116, 'Aventura', 'No', 'es,en'], ['Jurassic park', 1993, 127, 'Aventura', 'No', 'es,en'], ['The lion king', 1994, 88, 'Animación', 'No', 'es,en'], ['Toy story', 1995, 81, 'Animación', 'No', 'es,en'], ['Finding nemo', 2003, 100, 'Animación', 'No', 'es,en'], ['Shrek', 2001, 90, 'Animación', 'No', 'es,en'], ['The incredibles', 2004, 115, 'Animación', 'No', 'es,en'], ['Wall·e', 2008, 98, 'Animación', 'No', 'es,en'], ['Up', 2009, 96, 'Animación', 'No', 'es,en'], ['Spirited away', 2001, 125, 'Animación', 'No', 'es,en,jp'], ['Princess mononoke', 1997, 134, 'Animación', 'Sí', 'es,en,jp'], ['The green mile', 1999, 189, 'Drama', 'Sí', 'es,en'], ['The truman show', 1998, 103, 'Drama', 'No', 'es,en'], ['The social network', 2010, 120, 'Drama', 'No', 'es,en'], ['Joker', 2019, 122, 'Drama', 'Sí', 'es,en'], ['Black panther', 2018, 134, 'Acción', 'No', 'es,en'], ['Iron man', 2008, 126, 'Acción', 'No', 'es,en'], ['The avengers', 2012, 143, 'Acción', 'No', 'es,en'], ['Avengers: endgame', 2019, 181, 'Acción', 'No', 'es,en'], ['Dune', 2021, 155, 'Ciencia ficción', 'No', 'es,en'], ['Mad max: fury road', 2015, 120, 'Acción', 'Sí', 'es,en'], ['The revenant', 2015, 156, 'Aventura', 'Sí', 'es,en'], ['Parasite', 2019, 132, 'Thriller', 'Sí', 'es,en,ko'], ['Oldboy', 2003, 120, 'Thriller', 'Sí', 'es,en,ko'], ['The pianist', 2002, 150, 'Drama', 'Sí', 'es,en'], ['The wolf of wall street', 2013, 180, 'Biografía', 'Sí', 'es,en'], ['Her', 2013, 126, 'Drama', 'No', 'es,en'], ['Gravity', 2013, 91, 'Ciencia ficción', 'No', 'es,en'], ['The shape of water', 2017, 123, 'Fantasía', 'Sí', 'es,en'], ['Get out', 2017, 104, 'Terror', 'Sí', 'es,en'], ['It', 2017, 135, 'Terror', 'Sí', 'es,en'], ['The conjuring', 2013, 112, 'Terror', 'Sí', 'es,en'], ['A quiet place', 2018, 90, 'Terror', 'No', 'es,en'], ['The exorcist', 1973, 122, 'Terror', 'Sí', 'es,en'], ['The shining', 1980, 144, 'Terror', 'Sí', 'es,en'], ['Blade runner', 1982, 117, 'Ciencia ficción', 'Sí', 'es,en'], ['Blade runner 2049', 2017, 164, 'Ciencia ficción', 'Sí', 'es,en'], ['Alien', 1979, 117, 'Ciencia ficción', 'Sí', 'es,en'], ['Aliens', 1986, 137, 'Ciencia ficción', 'Sí', 'es,en'], ['The terminator', 1984, 107, 'Acción', 'Sí', 'es,en'], ['Terminator 2: judgment day', 1991, 137, 'Acción', 'No', 'es,en'], ['Rocky', 1976, 120, 'Drama', 'No', 'es,en'], ['Raging bull', 1980, 129, 'Biografía', 'Sí', 'es,en'], ['Taxi driver', 1976, 113, 'Drama', 'Sí', 'es,en'], ['Casablanca', 1942, 102, 'Romance', 'No', 'es,en'], ['Citizen kane', 1941, 119, 'Drama', 'No', 'es,en'], ['Psycho', 1960, 109, 'Terror', 'Sí', 'es,en'], ['Vertigo', 1958, 128, 'Suspense', 'No', 'es,en'], ['Rear window', 1954, 112, 'Suspense', 'No', 'es,en'], ['12 angry men', 1957, 96, 'Drama', 'No', 'es,en'], ["Schindler's list", 1993, 195, 'Drama', 'Sí', 'es,en'], ['American beauty', 1999, 122, 'Drama', 'Sí', 'es,en'], ['No country for old men', 2007, 122, 'Crimen', 'Sí', 'es,en'], ['The big lebowski', 1998, 117, 'Comedia', 'Sí', 'es,en'], ['Amélie', 2001, 122, 'Romance', 'No', 'es,en,fr'], ['The intouchables', 2011, 112, 'Drama', 'No', 'es,en,fr'], ['City of god', 2002, 130, 'Crimen', 'Sí', 'es,en,pt'], ["Pan's labyrinth", 2006, 118, 'Fantasía', 'Sí', 'es,en'], ['Roma', 2018, 135, 'Drama', 'Sí', 'es,en'], ['Slumdog millionaire', 2008, 120, 'Drama', 'No', 'es,en'], ['Million dollar baby', 2004, 132, 'Drama', 'Sí', 'es,en'], ["The king's speech", 2010, 118, 'Biografía', 'No', 'es,en'], ['Argo', 2012, 120, 'Thriller', 'No', 'es,en'], ['Moonlight', 2016, 111, 'Drama', 'Sí', 'es,en'], ['Manchester by the sea', 2016, 137, 'Drama', 'Sí', 'es,en'], ['Birdman', 2014, 119, 'Drama', 'Sí', 'es,en'], ['Django unchained', 2012, 165, 'Western', 'Sí', 'es,en'], ['Inglourious basterds', 2009, 153, 'Bélico', 'Sí', 'es,en'], ['The hateful eight', 2015, 168, 'Western', 'Sí', 'es,en'], ['La vita è bella', 1997, 116, 'Drama', 'No', 'es,en,it'], ['Requiem for a dream', 2000, 102, 'Drama', 'Sí', 'es,en'], ['Memento', 2000, 113, 'Thriller', 'Sí', 'es,en'], ['Eternal sunshine of the spotless mind', 2004, 108, 'Drama', 'No', 'es,en'], ['Donnie darko', 2001, 113, 'Drama', 'Sí', 'es,en']]

In [113]:
lista_de_tuplas = [[None if isinstance(i, float) and np.isnan(i) else i for i in tupla] for tupla in Lista_tupla]

### Fase 3: Inserción de los Datos en la Base de Datos

In [120]:
query = """
INSERT INTO películas (
    Título,Año, Duración, Género, Contenido_adultos, Subtítulos)
 VALUES (%s, %s, %s, %s, %s, %s)
"""

In [121]:
mycursor.executemany(query, lista_de_tuplas)

# Confirmar los cambios en la base de datos
connection.commit()

print("Datos insertados correctamente ✅.")
print(mycursor.rowcount, "registros insertados")

Datos insertados correctamente ✅.
100 registros insertados

### Fase 4: Obtener información a partir de los datos.

In [124]:
#### 1.¿Cuántas películas tienen una duración superior a 120 minutos?
query = '''SELECT Título AS Título_película, Duración AS Duración_película
        FROM películas
        WHERE Duración > 120
        ORDER BY Duración;'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\1033941716.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

                                      Título_película  Duración_película
0                               Star wars: a new hope                121
1                                               Joker                122
2                              No country for old men                122
3                                     American beauty                122
4                                              Amélie                122
5                                        The exorcist                122
6                                  The shape of water                123
7                  Star wars: the empire strikes back                124
8                                       Spirited away                125
9                                            Iron man                126
10                                                Her                126
11                                              Se7en                127
12                                      Jurassic park                127
13                                            Vertigo                128
14                                         La la land                128
15                                        Raging bull                129
16                                        City of god                130
17                      Star wars: return of the jedi                131
18                                Million dollar baby                132
19                                           Parasite                132
20                                  Princess mononoke                134
21                                      Black panther                134
22                                               Roma                135
23                                                 It                135
24                                         The matrix                136
25                                             Aliens                137
26                         Terminator 2: judgment day                137
27                              Manchester by the sea                137
28                                         Fight club                139
29                                       Forrest gump                142
30                           The shawshank redemption                142
31                                       The avengers                143
32                                        The shining                144
33                                         Goodfellas                146
34                                          Inception                148
35                                        The pianist                150
36                                       The departed                151
37                                    The dark knight                152
38                               Inglourious basterds                153
39                                       Pulp fiction                154
40                                               Dune                155
41                                          Gladiator                155
42                                       The revenant                156
43                                             Avatar                162
44                                  Blade runner 2049                164
45                                   Django unchained                165
46                                  The hateful eight                168
47                                       Interstellar                169
48                                Saving private ryan                169
49                                      The godfather                175
50  The lord of the rings: the fellowship of the ring                178
51              The lord of the rings: the two towers                179
52                            The wolf of wall street                180
53                                  Avengers: endgame                181
54                                     The green mile                189
55                                   Schindler's list                195
56                                            Titanic                195
57      The lord of the rings: the return of the king                201
58                              The godfather part ii                202

In [123]:
#### 2.¿Cuántas películas incluyen subtítulos en español?
query = f'''SELECT COUNT(*) AS Total_películas_esp
        FROM películas
        WHERE Subtítulos LIKE '%ES%';'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\47605158.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

   Total_películas_esp
0                  100

In [125]:
#### 3.¿Cuántas películas tienen contenido adulto?
query = '''SELECT COUNT(*) AS Total_adulto
        FROM películas
        WHERE Contenido_adultos = 'Sí';'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\2958480287.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

   Total_adulto
0            47

In [126]:
#### 4.¿Cuál es la película más antigua registrada en la base de datos?
query = '''SELECT Título, Año
        FROM películas
        ORDER BY Año
        LIMIT 1;'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\1066302625.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

         Título   Año
0  Citizen kane  1941

In [127]:
#### 5.Muestra el promedio de duración de las películas agrupado por género.
query = '''SELECT ROUND(AVG(Duración)) AS Duración_media, Género
        FROM películas
        GROUP BY Género
        ORDER BY Duración_media DESC;'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\1891831955.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

    Duración_media           Género
0            167.0          Western
1            161.0           Bélico
2            160.0         Fantasía
3            154.0           Crimen
4            142.0        Biografía
5            140.0          Romance
6            139.0           Acción
7            136.0  Ciencia ficción
8            133.0         Aventura
9            128.0          Musical
10           126.0            Drama
11           122.0         Thriller
12           120.0         Suspense
13           117.0           Terror
14           117.0          Comedia
15           103.0        Animación

In [128]:
#### 6.¿Cuántas películas por año se han registrado en la base de datos? Ordena de mayor a menor (NUMERO DE PELÍCULAS)
query = '''SELECT COUNT(Título) AS Num_Películas, Año
        FROM películas
        GROUP BY Año
        ORDER BY Num_Películas DESC;'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\1372126467.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

    Num_Películas   Año
0               5  2001
1               4  2013
2               4  1994
3               4  2008
4               4  1999
5               4  2017
6               3  2010
7               3  1998
8               3  2014
9               3  2000
10              3  1997
11              3  2009
12              3  2015
13              3  1980
14              3  2019
15              3  2012
16              3  2004
17              3  2016
18              3  2002
19              3  2003
20              3  2018
21              2  1995
22              2  2006
23              2  1993
24              2  1991
25              2  1976
26              1  1977
27              1  1990
28              1  2021
29              1  1972
30              1  1974
31              1  1985
32              1  1973
33              1  1982
34              1  1979
35              1  1986
36              1  1984
37              1  1983
38              1  1942
39              1  1941
40              1  1960
41              1  1958
42              1  1954
43              1  1957
44              1  2007
45              1  2011

In [129]:
#### 7.¿Cuál es el año con más películas en la base de datos?
query = '''SELECT COUNT(Título) AS Num_Películas, Año
        FROM películas
        GROUP BY Año
        ORDER BY Num_Películas DESC
        LIMIT 1;'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\1154495218.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

   Num_Películas   Año
0              5  2001

In [130]:
#### 8.Obtén un listado de todos los géneros y cuántas películas corresponden a cada uno.
query = '''SELECT Género, COUNT(Título) AS Num_Películas
        FROM películas
        GROUP BY Género
        ORDER BY Género;'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\1287544876.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

             Género  Num_Películas
0            Acción              9
1         Animación              9
2          Aventura              3
3            Bélico              2
4         Biografía              3
5   Ciencia ficción             13
6           Comedia              1
7            Crimen              7
8             Drama             27
9          Fantasía              5
10          Musical              1
11          Romance              3
12         Suspense              2
13           Terror              7
14         Thriller              6
15          Western              2

In [131]:
#### 9.Muestra todas las películas cuyo título contenga la palabra "Godfather" (puedes usar cualquier palabra).
query = '''SELECT Título
        FROM películas
        WHERE Título LIKE '%The%';'''

df = pd.read_sql(query, connection)
df

C:\Users\jenni\AppData\Local\Temp\ipykernel_14824\1628259715.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

                                               Título
0                                       The godfather
1                               The godfather part ii
2                                     The dark knight
3                                          The matrix
4                            The shawshank redemption
5                            The silence of the lambs
6                                        The departed
7   The lord of the rings: the fellowship of the ring
8               The lord of the rings: the two towers
9       The lord of the rings: the return of the king
10                 Star wars: the empire strikes back
11                      Star wars: return of the jedi
12                                 Back to the future
13                                      The lion king
14                                    The incredibles
15                                     The green mile
16                                    The truman show
17                                 The social network
18                                      Black panther
19                                       The avengers
20                                       The revenant
21                                        The pianist
22                            The wolf of wall street
23                                 The shape of water
24                                      The conjuring
25                                       The exorcist
26                                        The shining
27                                     The terminator
28                                   The big lebowski
29                                   The intouchables
30                                  The king's speech
31                              Manchester by the sea
32                                  The hateful eight
33              Eternal sunshine of the spotless mind